@mixin focus-border($color: var(--color-text-disabled-hint), $width: 2px) {
  border: $width solid transparent;
  &:focus {
    border-color: $color;
  }
}

@mixin focus-border-after(
  $inset: 0,
  $border-radius: 8px,
  $color: var(--color-text-disabled-hint),
  $width: 2px,
) {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: $inset;
    bottom: $inset;
    left: $inset;
    right: $inset;
    border: $width solid transparent;
    border-radius: $border-radius;
  }
  &:focus::after {
    border-color: $color;
  }
}
